body {
    background: #212121;
    color: #eee;
}

/* Links */

a {
    color: #599ada;
}

a:hover,
a:focus,
a:active {
    color: #ff5858;
    border-bottom: 1px solid rgba(238, 54, 54, 0.5);
}

/* Table */
thead {
    background: #343a40;
}

th, td {
    border: 1px double lightgrey;
}

/* Code */
pre {
    background-color: #f1f1f1;
    color: #333;
}

/* Styles */

blockquote {
    border-left: 2px solid #ccc;
}

hr {
    border-top: 1px solid #ccc;
}

/* Header */

header a {
    color: #eee;
}

.common-header {
    border-bottom: thin solid #333;
}

/* Articles */

.post-navigation {
    background: #373737;
}

.post-navigation a {
    color: #b6b6b6;
}

.post-navigation a:hover, 
.post-navigation a:focus,
.post-navigation a:active {
    color: #ff5858;
}

article:not(:last-of-type) {
    border-bottom: thin solid #333;
}

article header h1 a {
    color: #eee;
}

.post-info {
    color: grey;
}

.post-info a {
    color: grey;
}

.post-info a:hover {
    color: #ff5858;
}

article figcaption {
    color: lightgrey;
}

.divider {
    border-top: thin solid #ccc;
}

/* Pagination */

.pagination-item {
    background: #373737;
}

.pagination-item a {
    color: #eee;
}

.pagination-item a:hover, .pagination-item a:focus {
    color: #ff5858;
}

/* Footer */

footer {
    border-top: thin solid #333;
}

/* Media Queries */

@media (max-width: 840px) {
    header nav {
        background: #373737;
    }

    .post-navigation {
        background: #373737;
    }

}