{{ define "main" }}
    <div class="index-content">
        {{ .Content }}
    </div>

    <h1 class="post-title{{ if .Params.favorite }} favorite{{end}}">{{ i18n .Title }}</h1>
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range $pages }}
        <div class="post-short-list">
            <header> 
                <h2 class="post-title{{ if .Params.favorite }} favorite{{end}}"><a href="{{ .RelPermalink }}">{{ trim .Title " " }}</a></h2>
            </header>
            {{ partial "postInfo.html" . }}
        </div>
    {{ end }}

{{ end }}