{{ define "main" }}
    {{ if .Menus }}
        <nav class="post-navigation">
        {{ range .Menus }}
            <a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        </nav>
    {{ end }}

    <article class="post h-entry">
        <div class="post-header">
            <header>
                <h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">{{ trim .Title  " " }}</h1>

                {{ partial "post-language-switcher.html" . }}
            </header>
        </div>
        <div class="content e-content">
            {{ .Content }}
        </div>
        {{ partial "post-info.html" . }}
    </article>

    {{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
        {{ partial "post-pagination.html" . }}
    {{ end }}

    {{ if .Site.DisqusShortname }}
        {{ partial "disqus.html" . }}
    {{ end }}

    {{ if .Site.Params.UtterancesRepo }}
        {{ partial "utterances.html" . }}
    {{ end }}

    {{ if .Site.Params.isso.enabled }}
      <article class="post">
        <script
            data-isso="{{ .Site.Params.isso.data }}"
            data-isso-id="{{ .Site.Params.isso.id}}"
            data-isso-css="{{ .Site.Params.isso.css }}"
            data-isso-lang="{{ .Site.Params.isso.lang }}"
            data-isso-reply-to-self="{{ .Site.Params.isso.replyToSelf }}"
            data-isso-require-author="{{ .Site.Params.isso.requireAuthor }}"
            data-isso-require-email="{{ .Site.Params.isso.requireEmail }}"
            data-isso-avatar="{{ .Site.Params.isso.avatar }}"
            data-isso-avatar-bg="{{ .Site.Params.isso.avatarBg }}"
            src="{{ .Site.Params.isso.jsLocation }}">
        </script>
        <noscript>Please enable JavaScript to view the comments powered by <a href="https://posativ.org/isso/">Isso</a>.</noscript>
        <div>
          <section id="isso-thread"></section>
        </div>
      </article>
    {{ end }}

{{ end }}
