{{ define "main" }}
    <div class="index-content">
        {{ .Content }}
    </div>

    <h1>{{ i18n .Title | markdownify }}</h1>
    <ul class="terms">
        {{ range .Data.Terms }}
            {{ $postsNum := len (where .Pages "Params.hidden" "!=" true) }}
            {{ if gt $postsNum 0 }}
                <li>
                    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title | markdownify }}</a>
                    ({{ $postsNum }})
                </li>
            {{ end}}
        {{ end }}
    </ul>

{{ end }}