<div class="header-top">
    <div class="header-top-left">
        {{ partial "site-title.html" . }}
        {{ partial "social.html" . }}
    </div>
    <div class="header-top-right">
        {{ partial "theme-switcher.html" . }}  
    </div>
</div>

{{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </nav>
{{ else }}
    <nav></nav>
{{ end }}

{{ if .Site.Params.mathjax }}{{ partial "mathjax_support.html" . }}{{ end }}

{{ partial "header-extra.html" . }}