<div class="header-top">
    {{ partial "site-title.html" . }}
    {{ partial "social.html" . }}
</div>
{{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </nav>
{{ else }}
    <nav></nav>
{{ end }}

{{ partial "header-extra.html" . }}
