{{- $pubdate := .PublishDate.Format "2 Jan 2006" -}}
{{- $lastmod := .Lastmod.Format "2 Jan 2006" -}}

<div class="post-info">
    {{- if .Params.date }}
            <div class="post-date dt-published"><a class="u-url" href="/arsip/">{{ i18n "publishDate" }} <time datetime="{{ .PublishDate }}" title="{{ .PublishDate }}">{{ $pubdate }}</time><a/>
            </div>
    {{- end -}}
    {{- if .Lastmod }}
            {{- if ne $lastmod $pubdate }}
            <div>{{ i18n "lastModDate" }} <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">{{ $lastmod }}</time>
            </div>
            {{- end }}
    {{- end }}
    
    <a class="post-hidden-url u-url" href="{{ .Permalink }}">{{ .Permalink }}</a>
    <a href="{{ .Site.BaseURL }}" class="p-name p-author post-hidden-author h-card" rel="me">{{ .Params.author | default .Site.Params.author }}</a>


    <div class="post-taxonomies">
        {{ if .Params.categories }}
            <ul class="post-categories">
                {{ range $cat_name := .Params.categories }}
                    {{ $cat := ($.Site.GetPage (printf "/categories/%s" $cat_name | urlize )) }}
                    <li><a href="{{ $cat.Permalink }}">{{ $cat.Title | default $cat_name }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        {{ if .Params.tags }}
            <ul class="post-tags">
                {{ range $tag_name := .Params.tags }}
                    {{ $tag := ($.Site.GetPage (printf "/tags/%s" $tag_name | urlize )) }}
                    <li><a href="{{ $tag.Permalink }}">#{{ $tag.Title | default $tag_name }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        {{ if .Params.authors }}
            <ul class="post-authors">
                {{ range $author_name := .Params.authors }}
                    {{ $author := ($.Site.GetPage (printf "/authors/%s" $author_name | urlize )) }}
                    <li><a href="{{ $author.Permalink }}">@{{ $author_name }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</div>
