<article class="post-list h-feed">
    <div class="post-header">
        <header>
            <h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}"><a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " }}</a></h1>
        </header>
        {{ partial "post-language-switcher.html" . }}
    </div>

    {{ if not .Site.Params.disableSummary }}
        <div class="content post-summary p-summary">
            {{ .Summary | safeHTML }}
        </div>
    {{ end }}
    {{ if and (.Truncated) (.Site.Params.readMore) }}
        <div class="read-more">
            <a class="u-url" href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
        </div>
    {{ end }}
    
    {{ partial "post-info.html" . }}
</article>