{{ define "main" }}
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range (.Paginate $pages).Pages }}
    <article class="post-list">
        <header> 
            <h1>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>
        </header>

        <div class="content">
            {{ .Summary | safeHTML }}
        </div>
<!--         {{ if .Truncated }}
            <div class="read-more">
                <a href="{{ .RelPermalink }}">{{ i18n "readMore" | humanize }}</a>
            </div>
        {{ end }} -->
        
        {{ partial "articleInfoFull.html" . }}
    </article>
    {{ end }}
    {{ partial "pagination.html" . }}

{{ end }}