{{ define "main" }}

    <h1>{{ i18n "tag" | humanize }}: {{ .Title }}</h1>
    <div class="article-info">
        <a href="{{ "tags/" | absURL }}">{{ i18n "toAllTags" | humanize}}</a>
    </div>
    {{ range .Data.Pages }}
    <article class="post-list">
        <header> 
            <h1>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>
        </header>
        <div class="content">
            {{ .Summary }}
        </div>
        {{ partial "articleInfoDate.html" . }}
<!--         {{ if .Truncated }}
            <div class="read-more">
                <a href="{{ .RelPermalink }}">{{ i18n "readMore" | humanize }}</a>
            </div>
        {{ end }} -->

    </article>
    {{ end }}

{{ end }}