<video 
    class="video-shortcode" 
    preload="{{ .Get "preload" | default "auto" }}" 
    controls
>
    <source 
        src="{{ .Get "src" }}" 
        type="{{ .Get "type" }}"
        {{ if or (.Get "alt") (.Get "caption") }}
            alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
        {{ end }}
    >
    {{ i18n "videoIsNotSupported" }}
</video>
{{ if .Get "caption" }}
    <figcaption>
        {{ .Get "caption" | markdownify }}
    </figcaption>
{{ end }}

